* {
	padding: 0;
	margin: 0;
}

#t-1 {
	font-size: 40px;
	font-family: fantasy;
	text-align: center;
	color: red;
	line-height: 2;
}

.1 {
	text-align: center;
	background-color: grey;
	font-family: sans-serif;
	line-height: 1.5;
}

#t-2 {
	font-size: 40px;
	text-align: center;
	color: orange;
	background-color: grey;
	margin: 10px;
	border-radius: 6px;
}

.header {
	width: 100%;
	height: 40px;
	background: rgb(33, 148, 231);
}

.ctm-header {
	width: 100%;
	height: 30px;
	text-align: center;
	position: relative;
	top: 5px;
}

.lbl-header {
	font-family: cursive;
	font-size: 20px;
}

.ctm-data {
	width: 90%;
	margin: auto;
	padding: 10px;
}

.p-data {
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 10px;
	background: rgb(246, 234, 153);
}

.ctm-lbl-coment {
	width: 100%;
	text-align: center;
}

.lbl-coment {
	font-family: cursive;
	font-size: 20px;

	text-shadow: 1px 2px 1px rgb(29, 56, 241    );
}


























